{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/jquery-4.0.0.min.js"></script>
</head>
<body>
    <div>
        <ul id="productID"></ul>
    </div>
    <script>
        let ulID = $("#productID");
        $.ajax({
            url:'/api/product/list/',
            success: function(response){
                const data = response;
                data.forEach((item)=>{
                    ulID.append(`
                    <li>
                    Name: ${item.name} Price: ${item.price} Stock: ${item.stock}
                    </li>
                    `);
                })
            },
            error:function(error){
                console.log(error);
            }
        });
    </script>
</body>
</html>