<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Lists</title>
</head>

<body>
    <h2>Your Tasks</h2>

    <a href="/add/">Add Task</a>
    <a href="/logout/">Logout</a>

    <ul>

        {% for task in tasks %}

        <li>
            {{task.title}} - {{task.description}}
            <a href="/delete/{{task.id}}">Delete</a>
        </li>

        {% endfor %}

    </ul>
</body>

</html>